@use  "../../../node_modules/bootstrap/scss/bootstrap.scss"  as bootstrap;

$base-color: #c6538c;

.dashboard {
    
   .navbar-brand {
       color:red;
   }   
}

header {
    background-image: url(../imgs/deneme.jpg);
    height: 50vh;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.dashboardSection {
    // background-color: red;
}

.dashboardElements {
    // background-color: green;
}

.cardRow {
    background-color: #0074d9;
}

.cardCol {
    background-color: #666666;
}

.findikCard {
    width: '18rem';
}

.detailCotainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.detailRow {
   

}

.detailImage {
    max-width: 100%;
}

.detailImageCol {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.loginContainer {
    align-content: center;
    justify-content: center;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 56px;
}

.loginDialog {
    .tab-content {
        border-bottom: 1px solid bootstrap.$primary;
        border-left: 1px solid bootstrap.$primary;
        border-right: 1px solid bootstrap.$primary;
    }

    .nav-tabs {
        margin-bottom: 0px !important;
        border-color: bootstrap.$primary;
    }

    .nav-link:active {
        border-color: bootstrap.$primary;
    }
}



