.dashboard {
    
   .navbar-brand {
       color:red;
   }   
}

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136,
  "secondary": ff4136
);



$white: #ffffff;
$black: #000000;
$grey: grey;
$red: red;
$green: green;

// bg Colors ---------------

$bg-white: #ffffff;
$bg-black: #000000;
$bg-grey: #f6f6f8;
$bg-purple: #f0e0ff;

// Heading Color
$heading-color: #000000;

$body-bg: #000;
$body-color: #111;