// @use 'abstracts/variables';
@use "abstracts/variables";
@use 'pages/app';
@use 'pages/detail';
@use 'pages/dashboard';
@use 'pages/login';
@use 'pages/customerAccount';
@use 'pages/order';
@use 'pages/carts';
@use 'pages/payment';
@use 'components/custom-card';
@use 'components/loading-card';
@use 'components/number-input';
@use 'components/up-button';
@use 'components/_custom_card_filter';
@use 'components/pagination';
@use 'components/custom_combo_box';
@use 'pages/admin';