// @use 'abstracts/variables';
@use "abstracts/variables";
@use 'pages/app';
@use 'pages/detail';
@use 'pages/dashboard';
@use 'pages/login';
@use 'pages/customerAccount';
@use 'pages/order';
@use 'components/custom-card';
@use 'components/number-input';