
$primary:  rgb(102 66 36);
$secondary: rgb(128, 154, 111);
$thirdary: rgb(204, 156, 117);
$fourdary: rgb(213, 216, 181);
$font-color: rgb(102 66 36);
$font-color-error: rgb(221 6 26);
$font-color-light: rgb(217 217 217);
$card-color: rgb(90 114 75);

@use  "../../../../node_modules/bootstrap/scss/bootstrap.scss" with (
    $primary: $primary,
    // $body-bg: rgb(253, 210, 191),   
    $body-bg: rgb(255, 255, 255),   
    
);


