
$primary:  rgb(102 66 36);
$secondary: rgb(128, 154, 111);
$thirdary: rgb(90 114 75);
$fourdary: rgb(213, 216, 181);
$font-color: #543504; // rgb(102 66 36);
$font-color-error: rgb(221 6 26);
$font-color-light: rgb(217 217 217);
$card-color: rgb(90 114 75);
$card-font-color: #543504;
$loading-color: rgb(198 137 86 / 67%);
$loading-background-color: rgb(102 66 36); //7a7272

@use  "../../../../node_modules/bootstrap/scss/bootstrap.scss" with (
    $primary: $primary,
    $secondary: $secondary,

    // $body-bg: rgb(253, 210, 191),   
    $body-bg: $thirdary//rgb(255, 255, 255),   
    
);


