@use "/src/assets/scss/abstracts/variables"as variables;

.findikCard {
  width: '18rem';
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
  color: variables.$font-color; //$card-font-color;

  background-color: variables.$card-color;
  // user-select: none; // this sets the element unselectable, unlike texts
  // cursor: pointer; // changes the client's cursor

  &:hover {
    background-color: rgb(128, 154, 77);
  }

  .buttonPriceContainer { 
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .price {
      font-size: 1.2rem;
      font-weight: 600;
      color: variables.$font-color-light;
      padding-inline: 0.5rem;
    }
  }
}

.cardImage {
  overflow: hidden;
  height: 15rem;
}

.img-hover-zoom--quick-zoom img {
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
  }

  /* The Transformation */
  .img-hover-zoom--quick-zoom:hover img {
    transform: scale(1.5);
  }
