.findikCard {
    width: '18rem';
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: pointer;
  
}

.card {
    background-color: rgb(128, 154, 111);
    // user-select: none; // this sets the element unselectable, unlike texts
    // cursor: pointer; // changes the client's cursor

    &:hover {
        background-color:  rgb(128, 154, 77);
     }
}

.img-hover-zoom--quick-zoom img {
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
  }
  
  /* The Transformation */
  .img-hover-zoom--quick-zoom:hover img {
    transform: scale(1.5);
  }

  /* Zoom-n-rotate Container */
.img-hover-zoom--zoom-n-rotate img {
    transition: transform .5s ease-in-out;
  }
  
  /* The Transformation */
  .img-hover-zoom--zoom-n-rotate:hover img {
    transform: scale(2) rotate(25deg);
  }

.cardImage {
    overflow: hidden;
}