@use "/src/assets/scss/abstracts/variables"as variables;

.tabs {
    height: 100%;

    .tab-content {
        height: 100%;
    }

    .tab-pane {
        height: 100%;
    }
}

.adminProducts {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .productRow {
        color: variables.$font-color-light;
        border: 0.2rem solid variables.$primary;
        padding: 0.5em;
        margin-block: 0.3em;
        border-radius: 10px;
        display: flex;
        align-items: center;
        background: rgb(90 114 75);

        .imageContainer {
            height: 3rem;
        }
    }

    .productTitle {
        justify-content: flex-end;

        .newProduct {
            width: auto;
        }
    }
}

.editProduct {

    .imageContainer {
        margin: 0.5rem;
        display: flex;
        flex-direction: column;

        .imageWrapper {
            justify-content: center;
            align-content: center;
            height: 22rem;
            border: 3px solid variables.$primary;
            margin-inline: 3rem;

            img {
                justify-content: center;
                max-height: 20rem;
                width: auto;
            }
        }

        .imageSelectWrapper {
            display: flex;
            justify-content: center;

            .selectImageButton {
                width: auto;
                margin: 0.5rem;
            }
            #selectImage {
                display: flex;
                justify-content: center;
                visibility: hidden;
            }
        }
    }

    .detailsContainer {
        margin: 0.5rem;

        .label {
            margin-block: 0.2rem;
            font-weight: bold;
            color: variables.$font-color;
        }
    }

    .saveButtonContainer {
        display: flex;
        justify-content: flex-end;

        .saveButton {
            width: auto;
            margin-inline: 0.5rem;
        }

        .backButton {
            width: auto;
        }
    }
}