@use  "../../../../node_modules/bootstrap/scss/bootstrap.scss"  as bootstrap;
@use "../layout/header";
@use "/src/assets/scss/abstracts/variables" as variables;

$base-color: #c6538c;

.dashboard {
    
   .navbar-brand {
       color:red;
   }   
}

.dashboardSection {
    background-color: variables.$secondary;
}

header {
    background-image: url(../imgs/deneme.jpg);
    height: 50vh;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    // -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.cardRow {
    background-color: #0074d9;
}

.cardCol {
    background-color: #666666;
}

.findikCard {
    width: '18rem';
}

.customCardFilterContainer {
    display: flex;
    justify-content: end;
}

