@use  "../../../../node_modules/bootstrap/scss/bootstrap.scss"  as bootstrap;
@use "../layout/header";
@use "/src/assets/scss/abstracts/variables" as variables;

// $base-color: #c6538c;

.dashboard {
    background-color: variables.$thirdary;
    color: white;
   .navbar-brand {
       color: variables.$primary;
       font-weight: bolder;
       font-size: x-large;
       text-shadow: -1px -1px 0 #195714, 1px -1px 0 #337525, -1px 1px 0 #13260b, 1px 1px 0 #000;
        font-size: 2rem;
   }   

   .nav-link {
    color: white;
   }

   .shoppingCart {
    padding-block: 0.45rem;
    cursor: pointer;
   }
}

.dashboardSection {
    background-color: variables.$secondary;
    padding: 1rem;
}

.split {
    border-right: 1px solid black;
    height: 100%;
  }

  .split::before {
    content: "";
    border-right: 1px solid black;
    height: 100%;
    position: absolute;
    left: 0;
  }

header {
    background-image: url(../imgs/deneme.jpg);
    height: 50vh;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    // -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.cardRow {
    background-color: #0074d9;
}

.cardCol {
    background-color: #666666;
}

.findikCard {
    width: '18rem';
}

.customCardFilterContainer {
    display: flex;
    justify-content: flex-end;
}

