@use "../abstracts/variables" as variables;

.detailContainer {
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: space-between;
  background-color: variables.$secondary;

  .detailWrapper {
    display: flex;
    align-items: center;



    .imageContainer {
      flex: 1;
      margin-right: 5px;
      border-style: solid;
      display: flex;
      justify-content: center;
      padding: 20px;

        img {
         height: auto;
         width: 90%;
        }
    }

    .infoContainer {
      h2 {
        color: variables.$font-color;
      }
      
      flex: 1;
      padding-left: 50px;
      align-self: flex-start;
    }
  }

}